version: '3.8'
services:
  app:
    build: .
    volumes:
      - ./:/var/www/html
    depends_on:
      - db
    ports:
      - "9000:9000"
  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: storage_db
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
volumes:
  db_data:
    driver: local
